# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d5a6de4eb73d2304b7a217285d85771d5f405e6e665bc30170af5e7599e3aa33b5f826bf6e64079cf88dafe02ae2e4375f91313550f0a7f07bc384ded6d4983f
  rails_relative_url_root: ''
  exception_notification:
    email_prefix: "[Evaluación Institucional] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrolladores@dominio.gob.bo"
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'roruser'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true
  ldap:
    -
      host: localhost
      port: 389
      attribute: uid
      base: ou=usuarios,dc=dominio,dc=gob,dc=bo
      ssl: false

test:
  secret_key_base: 4f3d44c49e937d99ed560eafc41a63292e6c481a5744b75780ace63d82af59cf119d985f672559a111e08b5d41a26e529bfb376d9c5f49918bab4427f2001bcf
  rails_relative_url_root: ''
  exception_notification:
    email_prefix: "[Evaluación Institucional] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrolladores@dominio.gob.bo"
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'roruser'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true
  ldap:
    host: localhost
    port: 389
    attribute: uid
    base: ou=usuarios,dc=dominio,dc=gob,dc=bo
    ssl: false

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  rails_relative_url_root: <%= ENV["RAILS_RELATIVE_URL_ROOT"] %>
  exception_notification:
    email_prefix: "[Evaluación Institucional] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrolladores@dominio.gob.bo"
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'roruser'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true
  ldap:
    -
      host: localhost
      port: 636
      attribute: uid
      base: ou=usuarios,dc=dominio,dc=gob,dc=bo
      ssl: true
